.container {
    padding: 30px;
  }
  
  .color-box {
    display: inline-block;
    width: 120px;
    margin-top: 30px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: white;
  }
  